.paymentinstrument-ach-edit-form-required {
    @extend .input-required
}

.paymentinstrument-ach-edit-form-controls p {
    float: left;
    clear: both;
}

//Modal CreditCardDetailsView
.global-views-modal-content .global-views-modal-content-body {

    .paymentinstrument-ach-edit-form-controls-img-container {
        margin-top: 0;
    }
}

.paymentinstrument-ach-edit-form-controls-img-container {
    margin-top: $sc-margin-lv3;
    margin-bottom: $sc-margin-lv2
}

.paymentinstrument-ach-edit-form-card-icon {
    border:0px solid $sc-color-theme-border-light;
    width:auto;
    height:$sc-target-size-mobile;
}

.paymentinstrument-ach-edit-form-label-required {
    @extend .input-required
}

.paymentinstrument-ach-edit-form-input {
    @extend .input-large
}

.paymentinstrument-ach-edit-form-select {
    @extend .input-small;
    display: inline-block;
    margin-right: $sc-margin-lv2;
}

.paymentinstrument-ach-edit-form-button-submit {
    @extend .address-edit-form-button-submit;
}

.paymentinstrument-ach-edit-form-button-cancel {
    @extend .address-edit-form-button-cancel;
}

.paymentinstrument-ach-edit-form-button-reset {
    @extend .address-edit-form-button-reset;
}

.paymentinstrument-ach-edit-form-checkbox {
    margin-bottom: $sc-margin-lv3;
    display: inline-block;
}

.paymentinstrument-ach-edit-form-controls-cc-select-container {
}

.paymentinstrument-ach-edit-form-controls-cc-select-label {
    @extend .input-large;
    display:block;
    margin-bottom:$sc-margin-lv2;
}

.paymentinstrument-ach-edit-form-controls-cc-select {
    @extend .input-large;
}

.paymentinstrument-ach-edit-form-info-icon {
    @extend .icon-info;
    color: $sc-color-theme-700;
    font-size: $sc-font-size-xl;
    cursor: pointer;
 }
