$credit-card-height: 230px;
$credit-card-height-offset: 20px;

.paymentinstrument-ach {
    @extend .col-lg-4;
    @extend .col-sm-6;
    @extend .address-card-container;
    margin-bottom: $sc-margin-lv4;
}

.paymentinstrument-ach-require-field {
    margin-bottom: $sc-margin-lv4;
    margin-top: $sc-margin-lv2;
    display: inline-block;
}

.paymentinstrument-ach-bankname {
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
}

.paymentinstrument-ach-customer-consent{
    display: inline-block;
    font-weight: normal;
}

.paymentinstrument-ach-ownername{
    display: inline-block;
}

.overview-payment .paymentinstrument-ach,
.order-wizard-paymentmethod-paymentinstrument-ach-module .paymentinstrument-ach {
    width: 100%;
    padding: 0;
}

.paymentinstrument-ach-content {
    width: 100%;

    @media(min-width: $screen-sm-min) {
        min-height: $credit-card-height + $credit-card-height-offset;
    }
}

.paymentinstrument-ach-list .paymentinstrument-ach-content,
.paymentinstrument-ach-module-list-placeholder .paymentinstrument-ach-content {
    @extend .info-card;

    @media(min-width: $screen-sm-min) {
        min-height: $credit-card-height + $credit-card-height-offset;
    }
}

.paymentinstrument-ach-section {
    @extend .col-xs-12;
    margin-bottom:$sc-margin-lv2;
    padding: 0;
}

.paymentinstrument-ach-header-icon {
    float: right;
    margin-right: $sc-margin-lv1;
    width:auto;
    height:$sc-target-size-mobile;
}

.paymentinstrument-ach-default {
    @extend .address-details-default-billing;
}

.paymentinstrument-ach-default-icon {
    @extend .address-details-default-shipping-icon;
}

.paymentinstrument-ach-actions {
    clear: both;
    margin-top: $sc-margin-lv3;
    text-align: right;
}

.paymentinstrument-ach-edit-form-button-edit {
    @extend .button-tertiary;
    @extend .button-small;
    margin-left: 0;
    text-align: center;
    margin-right:$sc-margin-lv2;

    @media (min-width: $screen-xs-min) and (max-width: $screen-lg-min)  {
        margin-bottom:$sc-margin-lv2;
    }
}

.paymentinstrument-ach-use-this-card-button {
    @extend .button-primary;
    @extend .button-medium;
    @extend .button-generic;
    margin-top:$sc-margin-lv2;
    margin-bottom:$sc-margin-lv2;

    @media (min-width: $screen-sm-min) {
        margin-bottom:0px;
    }
}

.paymentinstrument-ach-edit-form {
    clear:both;
}

.paymentinstrument-ach-edit-form-button-remove {
    @extend .button-tertiary;
    @extend .button-small;
}

.paymentinstrument-ach-name {
    margin-bottom:$sc-margin-lv2;
}

// checkout specific (hide back to myaccount btn)
.checkout-layout ~ .modal-container .paymentinstrument-ach-edit-back {
    display: none;
}

.paymentinstrument-ach-new-card {
    @extend .new-address-card-container;
    height: 154px;
}

.paymentinstrument-ach-new-card-title {
    display: inline-block;
    margin-top: 20px;
    color: $sc-neutral-shade-300;
    font-size: 1.1rem;
    font-weight: bold;
}

.paymentinstrument-ach-action {
    @extend .button-link;
}

.paymentinstrument-ach-container {
    padding: $sc-padding-lv2 $sc-padding-lv3;
}

.paymentinstrument-ach-selector {
    @extend .address-card-container;
    cursor: pointer;
    border-bottom: 0px;
    padding: $sc-padding-lv3;
}

.paymentinstrument-ach-selected {
    background-color: $sc-neutral-shade-0;
}

.paymentinstrument-ach-selector-option {
    margin-bottom: 0px;
    cursor: pointer;
}

.paymentinstrument-ach-new-card-plus-icon {
    @extend .icon-plus;
    font-size: 2.5rem;
    color: $sc-color-theme-500;
}

.overview-payment-card {
    .paymentinstrument-ach-selected {
        min-height: 160px;
        border: none;
    }
    .paymentinstrument-ach-container {
        padding: 0px;
    }
}

.payment-wizard-step-content-main .order-wizard-paymentmethod-ach-module .paymentinstrument-ach-new-card {
  height: 234px;
}
