.paymentinstrument-ach-edit-button-back {
    @extend .button-back;
}

.paymentinstrument-ach-edit-button-back-icon {
    @extend .button-back-icon;
}

.paymentinstrument-ach-edit {
    @extend .address-edit;
}

.paymentinstrument-ach-edit-form-button-submit {
    @extend .address-edit-form-button-submit;
    margin: $sc-margin-lv3 0 0;
}

.paymentinstrument-ach-edit-form-button-cancel {
    @extend .address-edit-form-button-cancel;
}

.paymentinstrument-ach-edit-form-button-reset {
    @extend .address-edit-form-button-reset;
}

//Modal ACHDetailsView
.global-views-modal-content .global-views-modal-content-body {

    .paymentinstrument-ach-edit {
        background: none;
        padding: 0;
        margin: 0;
    }
}

.paymentinstrument-ach-edit-card-selected {
    opacity:1;
}

.paymentinstrument-ach-edit-card-no-selected {
    opacity:0.1;
}
